region = "ap-southeast-1"
project = "mycaddipro-chat"
vpc_id  = "vpc-xxxxxxxx"
private_subnet_ids = ["subnet-aaaa", "subnet-bbbb"]
public_subnet_ids  = ["subnet-cccc", "subnet-dddd"]
db_username = "chatuser"
db_password = "please-change-me-STRONG"
